
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold.eot');
    src: local('Montserrat'),
         url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold.eot');
    src: local('Montserrat'),
         url('../fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibold.woff2') format('woff2'),
         url('../fonts/montserrat-semibold.woff') format('woff'),
         url('../fonts/montserrat-semibold.ttf') format('truetype'),
         url('../fonts/montserrat-semibold.svg#montserratsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium.eot');
    src: local('Montserrat'),
         url('../fonts/montserrat-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-medium.woff2') format('woff2'),
         url('../fonts/montserrat-medium.woff') format('woff'),
         url('../fonts/montserrat-medium.ttf') format('truetype'),
         url('../fonts/montserrat-medium.svg#montserratmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: local('Montserrat'),
         url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light.eot');
    src: local('Montserrat'),
         url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('truetype'),
         url('../fonts/montserrat-light.svg#montserratlight') format('svg');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Andantino script';
    src: url('../fonts/andantino_script.eot');
    src: local('Andantino script'),
         url('../fonts/andantino_script.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andantino_script.woff2') format('woff2'),
         url('../fonts/andantino_script.woff') format('woff'),
         url('../fonts/andantino_script.ttf') format('truetype'),
         url('../fonts/andantino_script.svg#andantino_scriptregular') format('svg');
    font-weight: 400;
    font-style: normal;
}