@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
}

a {
  outline: none;
  cursor: pointer;
}

a img {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

p {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

strong, b {
  font-weight: 700;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
}

*:focus, *:active {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 153%;
  font-weight: 300;
  color: #111111;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
  background: url(images/site.jpg) center top no-repeat;
}

#index .wrapper, #product .wrapper {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: #52c54c;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

a:hover {
  text-decoration: underline;
}

strong, b {
  font-weight: 500;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

h1, .h1 {
  font-size: 56px;
  letter-spacing: 1px;
  line-height: 130%;
  margin-bottom: 55px;
  font-family: "Andantino script", Arial, Helvetica, sans-serif;
}

h2, .h2 {
  font-size: 22px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
    line-height: 180%;
  }

  h1, .h1 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 130%;
  }

  h2, .h2 {
    font-size: 25px;
  }

  h3, .h3 {
    font-size: 21px;
  }

  h4, .h4 {
    font-size: 18px;
  }

  h5, .h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  h1, .h1 {
    font-size: 25px;
    letter-spacing: 0.5px;
    line-height: 130%;
  }

  h2, .h2 {
    font-size: 21px;
  }

  h3, .h3 {
    font-size: 18px;
  }

  h4, .h4 {
    font-size: 16px;
  }
}
.clear {
  content: "";
  display: block;
  clear: both;
}

.button {
  padding: 0 25px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0px;
  cursor: pointer;
  color: #fff;
  background-color: #7be76e;
  border-radius: 20px;
  -webkit-transition: background 0.3s ease 0s;
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.button:hover {
  text-decoration: none;
  background-color: #52c54c;
  background: -webkit-linear-gradient(-41deg, #97f477 28%, #59c544 72%);
  /* для webkit-браузеров */
  background: -moz-linear-gradient(-41deg, #97f477 28%, #59c544 72%);
  /* для firefox 3.6+ */
  background: -o-linear-gradient(-41deg, #97f477 28%, #59c544 72%);
  /* для Opera 11.10+ */
  background: -ms-linear-gradient(-41deg, #97f477 28%, #59c544 72%);
  /* для IE10+ */
  background: linear-gradient(131deg, #97f477 28%, #59c544 72%);
  box-shadow: -5px 5px 28px rgba(59, 197, 96, 0.4);
}

@media screen and (max-width: 800px) {
  .button {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 0 15px 0 20px;
  }
}
@media screen and (max-width: 450px) {
  .button_block {
    text-align: center;
  }
}
.slick-slider {
  position: relative;
  margin: 0 auto;
}
.slick-slider .slick-list {
  margin: 0 0px;
}

.slick-slider {
  position: relative;
  margin-top: -2px;
  margin-bottom: 4px;
}
.slick-slider .slick-arrow {
  position: relative;
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
  width: 43px;
  height: 43px;
  z-index: 5;
  outline: none;
  cursor: pointer;
  border: 1px solid #52c54c;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-slider .slick-arrow:before {
  content: '';
  position: absolute;
  width: 9px;
  height: 15px;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -5px;
  background: url(images/button_arr2.png) no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-slider .slick-arrow:hover {
  background-color: #52c54c;
}
.slick-slider .slick-prev:before {
  background-position: left top;
}
.slick-slider .slick-prev:hover:before {
  background-position: left bottom;
}
.slick-slider .slick-next:before {
  background-position: right top;
}
.slick-slider .slick-next:hover:before {
  background-position: right bottom;
}

@media screen and (max-width: 800px) {
  .slick_slider_arrows {
    margin-top: 0px;
  }
  .slick_slider_arrows .slick-arrow {
    width: 33px;
    height: 33px;
  }
}
ul.slick-dots {
  padding-right: 15px;
  text-align: center;
}
ul.slick-dots li {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 20px;
  cursor: pointer;
  float: none;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Andantino script", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
ul.slick-dots li:before {
  content: '';
  display: inline-block;
  vertical-align: 3px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  border: 1px solid #52c54c;
}
ul.slick-dots li.slick-active {
  color: #52c54c;
}
ul.slick-dots li.slick-active:before {
  background-color: #52c54c;
}
ul.slick-dots li button {
  display: none;
}

.tabs_container {
  position: relative;
}

.tab {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.tab.active {
  opacity: 1;
  height: auto;
  overflow: visible;
  padding-top: 8px;
}

.tab_buttons {
  width: 100%;
  left: 0;
  z-index: 5;
  padding-top: 50px;
  margin-bottom: 27px;
  border-bottom: 1px solid #94ccea;
}
.tab_buttons .tab_but {
  display: inline-block;
  margin-right: 0px;
  padding: 5px 20px;
  cursor: pointer;
  height: 46px;
  line-height: 36px;
  box-sizing: border-box;
  color: #878a90;
  font-family: 'Oswald';
  font-size: 24px;
  margin-bottom: -2.6px;
  position: relative;
}
.tab_buttons .tab_but a {
  color: #777777;
  margin: -5px -20px;
  padding: 5px 20px;
  display: block;
}
.tab_buttons .tab_but.active {
  border-bottom: 5px solid #4a83bc;
  color: #0d121f;
}
.tab_buttons .tab_but.active:after {
  content: '';
  position: absolute;
  right: -14px;
  top: 0;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}
.tab_buttons .tab_but.active a {
  color: #fff;
}
.tab_buttons .tab_but.active a:hover {
  text-decoration: none;
}

.main_section {
  overflow: hidden;
  position: relative;
}

.in {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1546px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.in:after {
  content: "";
  display: block;
  clear: both;
}

.fancybox-enabled {
  overflow: auto;
}

.background_video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}
.background_video:before {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: #000;
  opacity: 0.42;
}
.background_video video {
  background-color: transparent;
  pointer-events: none;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.near_table {
  display: inline-block;
}

.near_table {
  width: 50%;
}

/* start header styles */
#index #header {
  top: 0;
  left: 0;
  background: none;
  border-bottom: 1px solid transparent;
}
#index #header:before {
  opacity: 0;
}
#index #header ul.main_menu .active::before {
  display: none;
}

#index #header.scroll:before {
  opacity: 1;
}

#header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 6;
  padding-bottom: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: rgba(79, 162, 217, 0.85);
  background: -webkit-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
  /* для webkit-браузеров */
  background: -moz-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
  /* для firefox 3.6+ */
  background: -o-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
  /* для Opera 11.10+ */
  background: -ms-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
  /* для IE10+ */
  background: linear-gradient(-5deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
}
#header .in {
  padding-top: 34px;
  z-index: 1;
  padding-bottom: 1px;
}
#header #logo {
  margin-right: 25px;
  margin-top: -25px;
  float: left;
  font-size: 35px;
  color: #fff;
  position: relative;
  z-index: 3;
}
#header #logo a:hover {
  opacity: 0.9;
}
#header nav {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
#header a.button {
  float: right;
  margin-left: 44px;
  letter-spacing: 0.5px;
}

.header_cont {
  float: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: 0.6px;
  margin-top: -3px;
  margin-left: 38px;
  position: relative;
  z-index: 3;
  color: #111111;
  text-align: right;
}
.header_cont a {
  color: #111111;
  text-decoration: none;
}
.header_cont span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
}

.menu_button_mob {
  display: none;
}

ul.main_menu {
  text-align: justify;
  line-height: 0;
  position: relative;
  padding: 20px 0px 0px;
  font-weight: 400;
}
ul.main_menu:after {
  content: "";
  display: inline-block;
  width: 58%;
}
ul.main_menu > li {
  margin-right: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 150%;
  letter-spacing: 0.1px;
  padding: 0px 10px;
  overflow: hidden;
  font-size: 14px;
  line-height: 150%;
}
ul.main_menu a {
  display: inline-block;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #343434;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  border-bottom: 1px solid transparent;
}
ul.main_menu a:hover {
  text-decoration: none;
}
ul.main_menu li.submenu > a:after, ul.main_menu li.submenu2 > a:after, ul.main_menu li.submenu3 > a:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  z-index: 0;
  margin-left: 6px;
  margin-bottom: 2px;
  margin-right: -9px;
  border-top: 4px solid #343434;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
ul.main_menu > li.submenu:before {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 20px;
  left: 0;
  z-index: 0;
  content: "";
}
ul.main_menu > li.submenu > ul:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: -5px 5px 28px 5px #c8c8c8;
  z-index: -1;
}
ul.main_menu .active:before {
  opacity: 1;
}
ul.main_menu ul {
  position: absolute;
  padding: 0;
  left: -15px;
  top: 66px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 14px;
  line-height: 135%;
  font-weight: 400;
  letter-spacing: 0px;
  z-index: 1;
}
ul.main_menu ul > li {
  display: block;
  z-index: 2;
  background: #fff;
  width: 260px;
}
ul.main_menu ul > li:last-child {
  border-bottom: 0;
}
ul.main_menu ul > li:hover, ul.main_menu ul > li.active {
  background: #f6fcfd;
}
ul.main_menu ul > li:hover ul, ul.main_menu ul > li.active ul {
  overflow: visible;
}
ul.main_menu ul > li ul {
  position: absolute;
  left: 100%;
  height: 100%;
  top: 0;
  margin-left: 0;
  background: #f6fcfd;
  overflow: hidden;
}
ul.main_menu ul > li ul > li {
  background: #f6fcfd;
  left: -100%;
}
ul.main_menu ul > li ul > li:hover, ul.main_menu ul > li ul > li.active {
  background: #f8f8f8;
}
ul.main_menu ul > li ul > li:hover {
  background: #f8f8f8;
}
ul.main_menu ul > li ul > li ul {
  background: #f8f8f8;
  height: 100%;
}
ul.main_menu ul > li ul > li ul li {
  background: #f8f8f8;
  width: 330px;
}
ul.main_menu ul > li ul > li ul li:hover, ul.main_menu ul > li ul > li ul li.active {
  background: #fff;
}
ul.main_menu ul a {
  display: block;
  padding: 12px 20px;
  color: #5c5c5c;
}
ul.main_menu ul .active a, ul.main_menu ul a.active, ul.main_menu ul a:hover {
  text-decoration: none;
}
ul.main_menu ul .active a:before, ul.main_menu ul a.active:before, ul.main_menu ul a:hover:before {
  display: none;
}
ul.main_menu > li:hover {
  overflow: visible;
  z-index: 3;
}
ul.main_menu > li:hover ul {
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  #header #logo {
    margin-right: 10px;
  }
  #header a.button {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header_cont {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1450px) {
  #header {
    height: 86px;
    padding-top: 0;
  }
  #header .in {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #header #logo {
    margin-right: 25px;
  }
  #header a.button {
    margin-right: 80px;
    margin-left: 30px;
  }
  #header nav {
    right: 20px;
    top: 20px;
    width: 45px;
    height: 43px;
    position: absolute;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 6px;
  }
  #header nav:hover {
    background: #52c54c;
    border-color: #52c54c;
  }

  .menu_button_mob {
    height: 12px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    display: block;
    width: 28px;
    position: absolute;
    top: 13px;
    left: 8px;
    cursor: pointer;
  }
  .menu_button_mob:after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 2px;
    width: 100%;
    top: 5px;
    left: 0;
    background-color: #fff;
  }
  .menu_button_mob:before {
    content: '';
    position: fixed;
    right: 20px;
    top: 25px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  .menu_button_mob.active:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  ul.main_menu {
    position: fixed;
    z-index: 3;
    min-width: 245px;
    right: 0px;
    margin-top: 0px;
    top: 86px;
    padding: 5px 0px;
    background-color: #52c54c;
    box-shadow: 0 5px 10px #21618f;
    display: none;
    max-height: 80%;
    overflow: auto;
  }
  ul.main_menu > li {
    display: block;
    height: auto;
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: left;
  }
  ul.main_menu > li:before {
    display: none;
  }
  ul.main_menu a {
    display: block;
    padding: 10px 0 10px;
  }
  ul.main_menu a:before {
    display: block;
    opacity: 0;
  }
  ul.main_menu a:hover {
    border-bottom-color: transparent;
  }
  ul.main_menu .active a:before, ul.main_menu a.active:before {
    opacity: 1;
  }
  ul.main_menu ul {
    position: relative;
    top: 0px;
    opacity: 1;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    margin-top: 10px;
  }
  ul.main_menu ul:before {
    left: 40px;
    margin-left: 0;
  }
  ul.main_menu > li:hover ul {
    top: 0px;
  }
}
@media screen and (max-width: 800px) {
  #header {
    height: 75px;
  }
  #header #logo img {
    height: 35px;
  }
  #header a.button {
    margin-right: 60px;
    margin-left: 20px;
  }
  #header nav {
    right: 20px;
    top: 20px;
    width: 35px;
    height: 33px;
  }
  #header ul.main_menu {
    top: 75px;
  }

  .header_cont {
    font-size: 16px;
    margin-top: 7px;
  }

  .menu_button_mob {
    width: 23px;
    top: 9px;
    left: 6px;
  }
  .menu_button_mob:after {
    top: 5px;
  }
}
@media screen and (max-width: 600px) {
  #header a.button {
    display: none;
  }

  .header_cont {
    font-size: 16px;
    margin-top: 7px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 450px) {
  #header {
    height: 65px;
  }
  #header .in {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #header #logo {
    width: 40px;
    overflow: hidden;
  }
  #header nav {
    top: 15px;
  }
  #header ul.main_menu {
    top: 65px;
  }
}
/* end header styles */
/* start footer styles */
#pre_foo {
  display: table-row;
  height: 100%;
}

#index footer, #product footer {
  border-top: 0;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  display: block;
  background: #59b7fc url(images/footer.jpg) center top no-repeat;
  background-size: auto;
  box-sizing: border-box;
  position: relative;
  clear: both;
}
footer .in {
  padding: 47px 20px 15px;
  font-size: 14px;
  line-height: 145%;
  font-weight: 400;
  color: #fff;
  z-index: 1;
}
footer .in:after {
  content: "";
  display: block;
  clear: both;
}
footer .foo_top {
  padding-bottom: 22px;
  margin-bottom: 33px;
  border-bottom: 1px solid #e9e9e9;
}
footer .foo_middle {
  padding-bottom: 18px;
}
footer .foo_bottom {
  clear: both;
  border-top: 1px solid #e9e9e9;
  padding-top: 18px;
  padding-bottom: 7px;
}
footer .foo_bottom:after {
  content: "";
  display: block;
  clear: both;
}
footer .foo_col {
  display: inline-block;
  vertical-align: middle;
}
footer .foo_col:nth-child(1) {
  width: 17.14101%;
}
footer .foo_col:nth-child(2) {
  width: 20.37516%;
}
footer .foo_col:nth-child(3) {
  width: 25.87322%;
}
footer .foo_col:nth-child(4) {
  width: 18.75809%;
}
footer .foo_col:nth-child(5) {
  width: 16.81759%;
}
footer .h4 {
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
footer a {
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}
footer .tel {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.5px;
  position: relative;
  left: -4px;
  margin-top: 9px;
}
footer .address, footer .mode {
  margin-top: 9px;
  font-weight: 300;
  letter-spacing: 0.8px;
}
footer .address p, footer .mode p {
  margin-bottom: 0;
}
footer .foo_menu {
  display: inline-block;
  vertical-align: top;
  width: 13%;
  position: relative;
  font-size: 11px;
  letter-spacing: 0.5px;
}
footer .foo_menu a {
  display: inline-block;
  border-bottom: 1px solid transparent;
}
footer .foo_menu > ul li {
  margin: 0 0 4px;
}
footer .foo_menu > ul.foo_main_menu {
  font-size: 14px;
}
footer .foo_menu > ul.foo_main_menu li {
  margin: 0 0 8px;
}
footer #copy {
  float: left;
  clear: both;
  padding-top: 5px;
  font-size: 12px;
}
footer #dev {
  float: right;
  padding-right: 25px;
}
footer .social {
  margin-bottom: 5px;
  float: right;
  margin-top: 3px;
}
footer .social a {
  position: relative;
  display: inline-block;
  margin: 0 8px 0 5px;
}
footer .social a img {
  position: relative;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0.73;
}
footer .social a:hover img {
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  footer .foo_left {
    width: 23.39744%;
    padding-right: 20px;
  }
  footer .foo_right {
    width: 39.74359%;
    margin-left: 0px;
  }
  footer .foo_cont {
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: top;
    width: 53%;
  }
  footer .foo_cont:last-child {
    width: 46%;
  }
  footer .foo_cont .cont {
    width: 100%;
    max-width: 250px;
  }
  footer .foo_cont .address {
    width: 100%;
  }
  footer .foo_menu {
    width: 15%;
  }
  footer .foo_menu.foo_main_menu {
    width: 21%;
  }
}
@media screen and (max-width: 1300px) {
  footer .foo_left {
    width: 25.64103%;
    padding-right: 20px;
    margin-right: 0px;
  }
  footer .foo_right {
    width: 48.71795%;
    margin-left: 0px;
  }
  footer .foo_menu {
    display: none;
  }
  footer .foo_menu.foo_main_menu {
    width: auto;
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  footer .foo_left {
    width: 260px;
    padding-right: 0;
  }
  footer .foo_left p {
    display: none;
  }
  footer #foo_logo {
    float: left;
    margin-right: 20px;
    margin-top: -5px;
  }
  footer #foo_logo img {
    height: 35px;
  }
  footer .social {
    padding-top: 0px;
  }
  footer .foo_right {
    width: 64.10256%;
    margin-left: 0px;
  }
  footer .foo_middle {
    clear: left;
  }
  footer .foo_menu {
    display: none;
  }
  footer .foo_menu .h5 {
    display: none;
  }
  footer .foo_menu ul {
    padding-top: 0;
  }
  footer .foo_menu.foo_main_menu {
    width: auto;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  footer .foo_right {
    width: 38.46154%;
    margin-left: 0px;
  }
  footer .foo_cont {
    width: auto;
  }
  footer .foo_cont:first-child {
    display: none;
  }
  footer .foo_cont:last-child {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  footer .in {
    font-size: 12px;
    line-height: 145%;
  }
  footer .foo_left {
    width: 180px;
  }
  footer #foo_logo {
    float: none;
  }
  footer .foo_right {
    width: 48.07692%;
  }
  footer .foo_cont .cont:before {
    width: 27px;
    height: 27px;
    border-radius: 5px;
  }
  footer .foo_bottom {
    text-align: center;
  }
  footer #copy {
    float: none;
    padding-top: 0px;
    margin-bottom: 15px;
  }
  footer #dev {
    float: none;
    padding-right: 0px;
  }
}
@media screen and (max-width: 450px) {
  footer .foo_left {
    width: auto;
    text-align: center;
    float: none;
  }
  footer #foo_logo {
    float: none;
  }
  footer .foo_right {
    width: auto;
    float: none;
    text-align: center;
  }
  footer .foo_cont .cont {
    width: 190px;
    text-align: left;
    margin-left: 20px;
    margin-right: 0px;
  }
  footer .foo_menu.foo_main_menu {
    display: none;
  }
}
/* end footer styles */
/* start main slide styles */
#main_slide {
  overflow: hidden;
  z-index: 0;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 100%;
  width: 100%;
  min-height: 630px;
}
#main_slide .in {
  height: 100%;
  padding: 259px 20px 200px;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide .text {
  max-width: 640px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide .h1 {
  text-align: left;
  font-size: 76px;
  line-height: 95%;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: 600;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide p {
  font-size: 16px;
  line-height: 175%;
  margin-bottom: 38px;
  font-weight: 400;
}
#main_slide ol {
  margin-top: 280px;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide ol li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 36px;
  font-size: 16px;
  line-height: 175%;
  font-weight: 400;
  position: relative;
  width: 240px;
  padding: 5px 0 0 17px;
}
#main_slide ol li:before {
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  border-radius: 18px;
  background-color: #fff200;
  content: '';
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide ol li:first-letter {
  font-weight: 700;
  font-size: 24px;
}
#main_slide .timetable_block {
  float: right;
  width: 330px;
  padding-top: 135px;
}
#main_slide .timetable_block .button {
  float: right;
}
#main_slide .timetable_block .h5 {
  padding-top: 7px;
  font-size: 15px;
  letter-spacing: 0.1px;
}
#main_slide .timetable_block .timetable_slider {
  margin-top: -3px;
}
#main_slide .timetable_block .timetable_slider span {
  display: block;
}
#main_slide .timetable_block time {
  display: block;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 9px;
}
#main_slide .timetable_block .h4 {
  margin-bottom: 4px;
}
#main_slide .timetable_block .name {
  text-decoration: underline;
  font-size: 13px;
  margin-bottom: 15px;
}
#main_slide .timetable_block .adt {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 1px;
}

@media screen and (max-width: 1450px) {
  #main_slide {
    min-height: 600px;
  }
  #main_slide .text {
    top: 20.96436%;
    height: 79.03564%;
  }
  #main_slide .h1 {
    font-size: 67px;
    line-height: 100%;
  }
  #main_slide ol {
    bottom: 5%;
  }
  #main_slide ol li:before {
    font-size: 52px;
    line-height: 80%;
  }
  #main_slide ol li:after {
    top: 20px;
  }
}
@media screen and (max-width: 1300px) {
  #main_slide {
    min-height: 500px;
  }
  #main_slide .h1 {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 0;
  }
  #main_slide ol li:before {
    font-size: 47px;
    line-height: 80%;
  }
  #main_slide ol li:after {
    top: 18px;
  }
}
@media screen and (max-width: 1030px) {
  #main_slide {
    min-height: 400px;
  }
  #main_slide .h1 {
    font-size: 50px;
    line-height: 100%;
  }
  #main_slide p {
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 20px;
    max-width: 350px;
  }
  #main_slide ol li {
    font-size: 16px;
    line-height: 145%;
    width: 190px;
  }
  #main_slide ol li:before {
    font-size: 40px;
    line-height: 80%;
  }
  #main_slide ol li:after {
    top: 16px;
    left: 50px;
    width: 110px;
  }
}
@media screen and (max-width: 800px) {
  #main_slide {
    min-height: 420px;
    background-position: 35% center;
  }
  #main_slide .text {
    top: 100px;
  }
  #main_slide .text {
    top: 100px;
    height: calc(100% - 100px);
  }
  #main_slide .h1 {
    font-size: 45px;
    line-height: 100%;
  }
  #main_slide p {
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 20px;
    max-width: 350px;
  }
  #main_slide ol {
    bottom: 0px;
  }
  #main_slide ol li {
    font-size: 14px;
    line-height: 145%;
    float: left;
    width: 230px;
    margin-bottom: 20px;
  }
  #main_slide ol li:before {
    font-size: 35px;
    line-height: 80%;
    float: left;
    width: 50px;
    margin-top: 5px;
  }
  #main_slide ol li:after {
    display: none;
  }
  #main_slide ol li:nth-child(2) {
    clear: left;
  }
  #main_slide ol li:nth-child(3) {
    padding-top: 10px;
  }
  #main_slide ol li:nth-child(3):before {
    margin-top: -5px;
  }
}
@media screen and (max-width: 600px) {
  #main_slide {
    min-height: 400px;
    background-position: 44% center;
  }
  #main_slide .text {
    top: 80px;
    height: calc(100% - 80px);
  }
  #main_slide .h1 {
    font-size: 40px;
    line-height: 100%;
  }
  #main_slide p {
    font-size: 14px;
    line-height: 162%;
    max-width: 300px;
    font-weight: 400;
  }
  #main_slide ol {
    bottom: 0px;
  }
  #main_slide ol li {
    margin-bottom: 10px;
    width: auto;
    max-width: 210px;
  }
  #main_slide ol li:before {
    font-size: 30px;
    line-height: 80%;
    float: left;
    width: 40px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 400px) {
  #main_slide {
    min-height: 400px;
    background-position: 44% center;
  }
}
/* end main slider styles */

/*# sourceMappingURL=template_styles.css.map */
