#blog{
	.title{
		display: block;
		.button{
			vertical-align: middle;
		}
	}
	.h1{
		display: inline-block;
		display: inline-block;
		margin-right: 123px;
		vertical-align: sub;
	} 
	
	a{
		color: #111;
		time{
			font-weight: bold;
			font-size: 12px;
			position: absolute;
			top: 223px;
			padding-left: 20px
		}
		.h5{
			font-size: 18px;
			font-weight: bold;
			margin-top: 27px;
			padding-left: 20px;
			padding-right: 20px;
		}
		p{
			font-size: 14px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 40px;
		}
		&:hover{
			color: #27cb13;
		}
	}
	span{
		img{
			width: 371px;
			overflow: hidden;
			margin-top: -22px;
			
		}
	}
	
	
	
	.blog_item{
		max-width: calc(373px - 21px);
		border: 1px solid #d7d7d7;
		position: relative;
		display: inline-block;
		border-radius: 20px;
		overflow: hidden;
		vertical-align: text-top;
		margin-right: 22px;
	}
	.ch{
			
		max-width:  762px;	
		.blog_text
	{
				max-width: 371px;
				background-color: #fff;
				margin-top: -307px;
				float: right;
				z-index: 1;
				position: absolute;
				top: 508px;
				right: 0;
				bottom: 0;
				time{top: -34px;}
			}
			img{
				width: 762px;
			}	
		}
	}

