/* start education styles */ 

#education {
    overflow: visible;
    z-index: 1;
    //background: url(images/specialists_bg.jpg) no-repeat center top;
    
    &:before {
	content: "";
	top: -167px;
	width: 100%;
	height: 600px;
	position: absolute;
	right: 0;
	background: url(images/education_bg.png) no-repeat right center;
	z-index: 0;
    }
    
    .in {
	height: 100%;
	padding: 46px 20px 101px;
	z-index: 2;
	text-align:  center;
    }
    
    .h1 {
	margin-bottom: 23px;
    }
    
}
    
.education {
    height: 520px;
    width: 520px;
    margin: 49px auto 200px;
    border: 1px solid #51b2fc;
    border-radius: 265px;
    position: relative;
    
    &:before {
	content: "";
	height: 354px;
	width: 354px;
	//border: 1px dotted #51b2fc;
	border-radius: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -177px;
	margin-left: -177px;
	background: url(images/education_blocks_dotcircle.png) no-repeat center;
    }
    
    .header {
	max-width: 300px;
	margin: 204px auto 20px;
	
	.h2 {
	    font-size: 25px;
	    line-height: 100%;
	    margin-bottom: 33px;
	}
    }
    
    .education_item {
	position: absolute;
	top: 0;
	left: 50%;
	width: 111px;
	height: 111px;
	text-align: left;
	
	.img {
	    width: 111px;
	    height: 111px;
	    border-radius: 57px;
	    overflow: hidden;
	    box-shadow: 9px 5px 18px rgba(170, 213, 244, 0.53);
	    
	    img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: top;
	    }
	    
	    &:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 57px;
		top: 0;
		left: 0;
		box-shadow: inset 0px 0px 55px #83c7f8;
		opacity: 0;
		@include transition(all);
	    }
	}
	
	a {
	    color: $color_text;
	    
	    &:hover {
		color: $color_a;
		text-decoration: none;
	    }
	}
	
	h4 {
	    position: absolute;
	    top: -13px;
	    width: 260px;
	    font-size: 20px;
	}
	
	.info {
	    position: absolute;
	    width: 260px;
	    top: 13px;
	    padding-top: 27px;
	    @include transition(all);
	    
	    p {
		font-size: 16px;
		margin-bottom: 10px;
	    }
	    
	    strong {
		letter-spacing: 0.7px;
	    }
	}
	
	.text {
	    position: absolute;
	    width: 300px;
	    top: 13px;
	    padding-top: 27px;
	    opacity: 0;
	    @include transition(all);
	}
	
	&:hover {
	    .info {
		opacity: 0;
	    }
	    
	    .text {
		opacity: 1;
	    }
	    .img {
		
		&:after {
		    opacity: 1;
		}
	    }
	}
	
	
	&:nth-child(1) {
	    margin-left: 121px;
	    
	    h4, .info, .text  {
		left: 185px;
	    }
	    .text  {
		width: 350px;
	    }
	}
	&:nth-child(2) {
	    margin-left: 195px;
	    margin-top: 303px;
	    h4, .info, .text  {
		left: 185px;
	    }
	    .text  {
		width: 350px;
	    }
	}
	&:nth-child(3) {
	    margin-left: -57px;
	    margin-top: 475px;
	    h4, .info, .text  {
		left: -68px;
		
		top: 146px;
	    }
	    .info, .text  {
		top: 173px;
	    }
	    .text  {
		width: 350px;
	    }
	}
	&:nth-child(4) {
	    margin-left: -311px;
	    margin-top: 302px;
	    h4, .info, .text  {
		left: -283px;
	    }
	}
	&:nth-child(5) {
	    margin-left: -238px;
	    margin-top: 1px;
	    h4, .info, .text  {
		left: -283px;
	    }
	}
    }
}



@media screen and (max-width: 1450px) {
    #education {
	
    }
}

@media screen and (max-width: 1300px) {
    #education {
	
    }
}
@media screen and (max-width: 1030px) {
    #education {
	
    }
}

@media screen and (max-width: 800px) {
    #education {
	
    }
}
@media screen and (max-width: 600px) {
    #education {
	
    }
}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {
    #education {
	
    }
}

/* end education styles */