/* start education styles */ 

#education {
    overflow: visible;
    z-index: 1;
    //background: url(images/education_bg.jpg) no-repeat center top;
    
    &:before {
	content: "";
	top: -167px;
	width: 100%;
	height: 600px;
	position: absolute;
	right: 0;
	background: url(images/education_bg.png) no-repeat right center;
	z-index: 1;
    }
    &:after {
	content: "";
	bottom: -114px;
	width: 100%;
	height: 600px;
	position: absolute;
	right: 0;
	background: url(images/education_bg.jpg) no-repeat center bottom / 100% auto;
	z-index: 0;
    }
    
    .in {
	height: 100%;
	padding: 46px 20px 103px;
	z-index: 2;
	text-align:  center;
    }
    
    .h1 {
	margin-bottom: 23px;
    }
    
}
    
.education {
    height: 520px;
    width: 520px;
    margin: 49px auto 200px;
    border: 1px solid #51b2fc;
    border-radius: 265px;
    position: relative;
    
    &:before {
	content: "";
	height: 354px;
	width: 354px;
	//border: 1px dotted #51b2fc;
	border-radius: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -177px;
	margin-left: -177px;
	background: url(images/education_blocks_dotcircle.png) no-repeat center;
    }
    
    .header {
	max-width: 300px;
	margin: 204px auto 20px;
	
	.h2 {
	    font-size: 25px;
	    line-height: 100%;
	    margin-bottom: 33px;
	}
    }
    
    .education_item {
	position: absolute;
	top: 0;
	left: 50%;
	width: 111px;
	height: 111px;
	text-align: left;
	
	.img {
	    width: 111px;
	    height: 111px;
	    border-radius: 57px;
	    overflow: hidden;
	    box-shadow: 9px 5px 18px rgba(170, 213, 244, 0.53);
	    
	    img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: top;
	    }
	    
	    a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		
		&:after {
		    position: absolute;
		    content: "";
		    width: 100%;
		    height: 100%;
		    border-radius: 57px;
		    top: 0;
		    left: 0;
		    box-shadow: inset 0px 0px 55px #83c7f8;
		    opacity: 0;
		    @include transition(all);
		}
		
	    }
	}
	
	h4 {
	    position: absolute;
	    top: -10px;
	    width: 260px;
	    font-size: 20px;
	
	    a {
		color: $color_text;
		display: inline-block;
		position: relative;
		padding-right: 50px;
		margin-right: -50px;
		
		&:before {
		    content: '';
		    position: absolute;
		    width: 34px;
		    height: 34px;
		    background: #7be76e url(images/arr2.png) no-repeat center;
		    border-radius: 20px;
		    right: 0px;
		    top: -5px;
		    opacity: 0;
		    @include transition(all);
		}
		
		&:hover {
		    color: $color_a;
		    text-decoration: none;
		    
		    &:before {
			opacity: 1;
		    }
		}
	    }
	}
	
	.info {
	    position: absolute;
	    width: 260px;
	    top: 15px;
	    padding-top: 27px;
	    @include transition(all);
	    
	    p {
		font-size: 16px;
		line-height: 130%;
		margin-bottom: 8px;
		font-weight: 300;
	    }
	    
	    strong {
		letter-spacing: 0.7px;
	    }
	}
	
	.text {
	    position: absolute;
	    width: 300px;
	    height: 130px;
	    overflow: hidden;
	    top: 13px;
	    padding-top: 27px;
	    opacity: 0;
	    @include transition(all);
	}
	
	&:hover {
	    .info {
		opacity: 0;
	    }
	    
	    .text {
		opacity: 1;
	    }
	    .img {
		
		&:after {
		    opacity: 1;
		}
	    }
	}
	
	
	&:nth-child(1) {
	    margin-left: 121px;
	    
	    h4, .info, .text  {
		left: 185px;
	    }
	    .text  {
		width: 350px;
	    }
	}
	&:nth-child(2) {
	    margin-left: 195px;
	    margin-top: 303px;
	    h4, .info, .text  {
		left: 185px;
	    }
	    .text  {
		width: 350px;
	    }
	}
	&:nth-child(3) {
	    margin-left: -57px;
	    margin-top: 475px;
	    h4, .info, .text  {
		left: -68px;
		
		top: 146px;
	    }
	    .info, .text  {
		top: 173px;
	    }
	    .text  {
		width: 350px;
	    }
	}
	&:nth-child(4) {
	    margin-left: -311px;
	    margin-top: 302px;
	    h4, .info, .text  {
		left: -283px;
	    }
	}
	&:nth-child(5) {
	    margin-left: -238px;
	    margin-top: 1px;
	    h4, .info, .text  {
		left: -283px;
	    }
	}
    }
}


@media screen and (max-width: 1300px) {
        
    .education {
	transform: scale(0.8);
	.education_item {
	    &:nth-child(1) {
		h4, .info, .text  {
		    left: 135px;
		}
	    }
	    &:nth-child(2) {
		h4, .info, .text  {
		    left: 135px;
		}
	    }
	}
    }
}
@media screen and (max-width: 1000px) {
    #education {
	.in {
	    padding: 46px 20px 50px;
	}
	
    }
    .education {
	transform: none;
	overflow: visible;
	border: 0 !important;
	border-radius: 0;
	width: auto;
	height: auto;
	padding-bottom: 150px;
	margin-bottom: 0;
	text-align: left;
	&:before {
	    display: none;
	}
	.header {
	    max-width: 300px;
	    margin: 204px auto 20px;
	    position: absolute;
	    bottom: 0;
	}
	.education_item {
	    position: relative;
	    left: auto !important;
	    top: auto !important;
	    margin-left: 0 !important;
	    margin-top: 0 !important;
	    margin-bottom: 50px;
	    width: 49%;
	    display: inline-block;
	    vertical-align: top;
	    
	    h4 {
		position: absolute;
		font-size: 18px;
	    }
	    
	    &:nth-child(1), &:nth-child(2) {
		h4, .info, .text  {
		    left: 135px;
		}
	    }
	    &:nth-child(3) {
		margin-left: 195px;
		margin-top: 303px;
		h4, .info, .text  {
		    left: 135px;
		    
		    top: -10px;
		}
		.info, .text  {
		    top: 15px;
		}
		.text  {
		    width: 350px;
		}
	    }
	    &:nth-child(4), &:nth-child(5) {
		margin-left: 195px;
		margin-top: 303px;
		h4, .info, .text  {
		    left: 135px;
		}
	    }
	    
	    &:nth-child(5) {
		margin-left: calc(49% + 195px);
	    }
	}
    }
}

@media screen and (max-width: 800px) {
    .education {
	.education_item {
	    transform: scale(0.75);
	    margin-bottom: 30px;
	}
    }
}
@media screen and (max-width: 600px) {
    .education {
	.education_item {
	    transform: none;
	    margin-bottom: 50px;
	    width: 100%;
	}
    }
}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 450px) {
    .education {
	.education_item {
	    transform: scale(0.75);
	    margin-bottom: 30px;
	    margin-left: -40px !important;
	}
    }
}

/* end education styles */