/* start footer styles */

#pre_foo {
    display: table-row;
    height: 100%;
}

#index, #about_page, #table_page {
    footer {
        border-top: 0;
    }
}


footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    display: block;
    background: #59b7fc url(images/footer.jpg) center top no-repeat;
    background-size: auto;
    box-sizing: border-box;
    //border-top: 1px solid #b7d8ff;
    position: relative;
    clear: both;
    
    background-color: #168fff;

    background: -webkit-linear-gradient(-90deg, #69c1fb, #168fff); /* для webkit-браузеров */
    background: -moz-linear-gradient(-90deg, #69c1fb, #168fff); /* для firefox 3.6+ */ 
    background: -o-linear-gradient(-90deg, #69c1fb, #168fff); /* для Opera 11.10+ */
    background: -ms-linear-gradient(-90deg, #69c1fb, #168fff); /* для IE10+ */
    background: linear-gradient(180deg, #69c1fb, #168fff);
    

    
    .in { 
        padding: 21px 20px 15px;
        font-size: 14px;
        line-height: 145%;
	font-weight: 400;
	color: #fff;
	z-index: 1;
        
        &:after { 
            @include clear();
        }
        
    }
    
    .foo_top {
	padding-bottom: 22px;
	margin-bottom: 33px;
	border-bottom: 1px solid #e9e9e9;
    }
    
    .foo_middle {
	padding-bottom: 18px;
	.foo_col {
	    vertical-align: top;
	}
    }
    .foo_bottom {
	clear: both;
	border-top: 1px solid #e9e9e9;
	padding-top: 18px;
	padding-bottom: 7px;
	
	&:after {
	    @include clear();
	}
    }
    
    .foo_col {
	display: inline-block;
	vertical-align: middle;
	
	&:nth-child(1) {
	    width: 260/1546*100%
	}
	&:nth-child(2) {
	    width: 310/1546*100%
	}
	&:nth-child(3) {
	    width: 400/1546*100%
	}
	&:nth-child(4) {
	    width: 290/1546*100%
	}
	&:nth-child(5) {
	    width: 260/1546*100%
	}
    }
    
    .h4 {
	color: #fff;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
    }
    
    a {
	color: #fff;
	//@include transition(color);
	&:hover {
	    text-decoration: underline;
        }
    }
    
    .tel {
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1.5px;
	position: relative;
	left: -4px;
	margin-top: 9px;
    }
    
    .address, .mode {
	margin-top: 9px;
	font-weight: 300;
	letter-spacing: 0.8px;
	p {
	    margin-bottom: 0;
	}
    }
    
    .foo_menu {
	display: inline-block;
	vertical-align: top;
	width: 13%;
        position: relative;
	font-size: 11px;
	letter-spacing: 0.5px;
	
        a {
            display: inline-block;
	    //text-decoration: none;
	    border-bottom: 1px solid transparent;
        }
	
	>ul {
	    li {
		margin: 0 0 4px;
		
	    }
	
	    &.foo_main_menu {
		font-size: 14px;
		
		li {
		    margin: 0 0 8px;
		    
		}
	    }
	}
	
    }
    
    #copy {
        float: left;
	clear: both;
	padding-top: 5px;
	font-size: 12px;
    }
    
    #dev {
        float: right;
	//padding-right: 25px;
    }
    .social {
	margin-bottom: 5px;
	float: right;
	margin-top: 3px;
	margin-right: -8px;
    }
    .social a {
	position: relative;
	display: inline-block;
	margin: 0 8px 0 5px;
	
	img {
	    position: relative;
	    @include transition(opacity);
	    opacity: 0.73;
	}
	
	&:hover {
	    img {
		opacity: 1;
	    }
	}
    }
}


@media screen and (max-width: 1450px) {
    footer {
	.foo_col {
	    &:nth-child(1) {
		width: 240/1546*100%
	    }
	    &:nth-child(2) {
		width: 290/1546*100%
	    }
	    &:nth-child(3) {
		width: 380/1546*100%
	    }
	    &:nth-child(4) {
		width: 270/1546*100%
	    }
	    &:nth-child(5) {
		width: 340/1546*100%
	    }
	}
    }
}
@media screen and (max-width: 1150px) {
    footer {
	.foo_col {
	    &:nth-child(1) {
		width: 300/1546*100%
	    }
	    &:nth-child(2) {
		width: 350/1546*100%
	    }
	    &:nth-child(3) {
		width: 440/1546*100%
	    }
	    &:nth-child(4) {
		display: none
	    }
	    &:nth-child(5) {
		width: 430/1546*100%
	    }
	}
    }
}
@media screen and (max-width: 1000px) {
    footer {
	.foo_col {
	    &:nth-child(1) {
		width: 420/1546*100%
	    }
	    &:nth-child(2) {
		width: 480/1546*100%
	    }
	    &:nth-child(3) {
		display: none
	    }
	    &:nth-child(5) {
		width: 560/1546*100%
	    }
	}
    }
}
@media screen and (max-width: 800px) {
    footer {
	.in {
	    padding-top: 10px;
	}
	.foo_logo {
	    img {
		height: 50px;
	    }
	}
	
	.foo_top {
	    padding-bottom: 10px;
	    margin-bottom: 20px;
	}
	.button {
	    margin-top: 3px;
	    
	}
    }
}
@media screen and (max-width: 600px) {
    footer {
	.foo_col {
	    &:nth-child(1) {
		width: 40%
	    }
	}
	.foo_top {
	    .foo_col {
		&:nth-child(2) {
		    display: none
		}
		&:nth-child(5) {
		    width: 58%
		}
	    }
	}
	.foo_middle {
	    .foo_col {
		&:nth-child(2) {
		    width: 58%
		}
		&:nth-child(5) {
		    display: none
		}
	    }
	}
	
    }
}
@media screen and (max-width: 450px) {
    footer {
	.foo_middle {
	    .foo_col {
		&:nth-child(2) {
		    display: none
		}
		&:nth-child(1) {
		    width: 100%;
		}
		&:nth-child(1) ul {
		    columns: 2;
		}
		
	    }
	    
	}
	.foo_bottom {
	    text-align: center;
	}
	
	#copy {
	    float: none;
	    padding-top: 2px;
	    margin-bottom: 15px;
	    letter-spacing: 0.5px;
	}
	
	#dev {
	    float: none;
	}
    }
}

@media screen and (max-width: 400px) {
    footer {
	.foo_middle {
	    display: none;
	}
	.foo_top {
	    margin-bottom: 0;
	    border-bottom: 0;
	    .foo_col {
		&:nth-child(1) {
		    width: 45%;
		    //margin-bottom: 20px;
		    //text-align: center;
		}
		&:nth-child(5) {
		    width: 53%;
		    //padding-bottom: 10px;
		    text-align: right;
		}
	    }
	    
	    .button {
		margin-bottom: 10px;
	    }
	}
    }
}

/* end footer styles */