
/* start header styles */
#index #header { 
    top: 0;
    left: 0;
    background: none;
    border-bottom: 1px solid transparent;
    
    &:before {
	opacity: 0;
    }
    
    ul.main_menu .active::before {
	display: none;
    }
    
}
#index #header.scroll {
    //background: rgba(255, 255, 255, 0.9);
    //box-shadow: 0 0 20px rgba(33, 97, 143, 0.25);
    //background: #0b59d5 url(images/header_bg.png) no-repeat center / cover;
    
    &:before {
    opacity: 1;
    }
}
#header {
    height: 100px;
    width: 100%;
    position: absolute; //fixed; //relative;
    top: 0;
    color: #fff;
    z-index: 6;
    padding-bottom: 1px;
    //border-bottom: 1px solid #c6c6c6;
    
    @include transition(all);
    
	
    
    &:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	//background: #0b59d5 url(images/header_bg.png) no-repeat -50% center / cover;
	opacity: 1;
	@include transition_slow(all);
	background-color: rgba(79, 162, 217, 0.85);
	background: -webkit-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(-265deg,  rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(-265deg,  rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(-265deg,  rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%); /* для IE10+ */
	background: linear-gradient(-5deg,  rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
	
    }

    //&.hidden {
	//border-bottom-color: transparent;
    //}
    //&.hidden.animated {
	//border-bottom-color: #c6c6c6;
    //}
    .in {
	padding-top: 34px;
	z-index: 1;
	padding-bottom: 1px;
    }
    
    
    #logo {
	margin-right: 25px;
	margin-top: -25px;
	float: left;
	font-size: 35px;
	color: #fff;
	//margin-bottom: 3px;
	position: relative;
	z-index: 3;
        
        a:hover {
            opacity: 0.9;
        }
    }
    nav {
	margin: 0;
	padding: 0;
	text-align: center;
	@include transition(all);
	position: relative;
	
    }
    a.button {
	float: right;
	margin-left: 44px;
	letter-spacing: 0.5px;
    }
}
    
    .header_cont  {
	float: right;
	font-size: 16px;
	font-weight: 600;
	line-height: 145%;
	letter-spacing: 0.6px;
	margin-top: -3px;
	margin-left: 38px;
	position: relative;
	z-index: 3;
	color: $color_text;
	text-align: right;
	
	a {
	    color: $color_text;
	    text-decoration: none;
	}
	span {
	    display: block;
	    font-size: 14px;
	    font-weight: 400;
	    letter-spacing: 0px;
	}
    }
    
    .menu_button_mob {
        display: none;
    }
    ul.main_menu {
        text-align: justify;
        line-height: 0;
	position: relative;
	padding: 20px 0px 0px;
	font-weight: 400;
	
        &:after {
    	    content: "";
    	    display: inline-block;
    	    width: 58%;
    	}
	    
            >li {
                margin-right: 0;
                position: relative;
                display: inline-block;
                vertical-align: middle;
		line-height: 150%;
		letter-spacing: 0.1px;
		padding: 0px 10px;
		//height: 66px;
		overflow: hidden;
		font-size: 14px;
		line-height: 150%;
	    
            }
		
            a {
		display: inline-block;
		position: relative;
		z-index: 2;
		text-decoration: none;
		color: #343434;
		@include transition(all);
		vertical-align: middle;
		border-bottom: 1px solid transparent;
		
		&:hover {
		    text-decoration: none;
		}
            }
	    
	    li.submenu, li.submenu2, li.submenu3 {
		> a:after {
		    content: "";
		    display: inline-block;
		    width: 0px;
		    height: 0px;
		    z-index: 0;
		    margin-left: 6px;
		    margin-bottom: 2px;
		    margin-right: -9px;
		    border-top: 4px solid #343434;
		    border-left: 4px solid transparent;
		    border-right: 4px solid transparent;
		}
            }
	    
	    >li.submenu {
		
		&:before {
		    position: absolute;
		    width: 100%;
		    height: 50px;
		    top: 20px;
		    left: 0;
		    z-index: 0;
		    content: "";
		}
		
		>ul {
		
		    &:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			//background: #c8c8c8;
			box-shadow: -5px 5px 28px 5px rgba(200, 200, 200, 1.0);
			z-index: -1;
		    }
		}
		
            }
	
	    .active  {
		&:before {
		    opacity: 1;
		}
	    }
	    
	    
	    ul {
		position: absolute;
		//width: 100%;
		padding: 0;
		//background-color: #fff;
		left: -15px;
		//margin-left: -110px;
		top: 66px;
		//display: none;
		opacity: 0;
		@include transition(all);
		font-size: 14px;
		line-height: 135%;
		font-weight: 400;
		letter-spacing: 0px;
		z-index: 1;
		
		
		>li {
		   display: block;
		   //border-bottom: 1px solid #4fa2d9;
		   //position: relative;
		   z-index: 2;
		   background: #fff;
		   width: 260px;
		   
		   
		   &:last-child {
		    border-bottom: 0;
		   }
		   
		   &:hover, &.active {
		    background: #f6fcfd;
		    
		    
		    ul {
			overflow: visible;
			
		    }
		   }
		   
		   ul {
		    position: absolute;
		    left: 100%;
		    height: 100%;
		    top: 0;
		    margin-left: 0;
		    background: #f6fcfd;
		    overflow: hidden;
		    
		    >li {
			background: #f6fcfd;
			left: -100%;
			
			&:hover, &.active {
			    background: #f8f8f8;
			}
			
			&:hover {
			    background: #f8f8f8;
			}
			
			ul {
			    background: #f8f8f8;
			    height: 100%;
			    li {
				background: #f8f8f8;
				width: 330px;
				
				
				&:hover, &.active {
				    background: #fff;
				}
			    }
			}
		    }
		   }
		}
		a {
		    display: block;
		    padding: 12px 20px;
		    color: #5c5c5c;
		    
		}
		
		.active a, a.active, a:hover  {
		    text-decoration: none;
		    
		    &:before {
			display: none;
		    }
		}
	    }
	    
	    > li:hover {
		overflow: visible;
		z-index: 3;
		    ul {
		    //top: 66px;
		    opacity: 1;
		}
	    }
	    
        }
@media screen and (max-width: 1600px) {	
    #header {
	#logo {
	    margin-right: 10px;
	}
	
	a.button {
	    margin-left: 20px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
    }
    
    .header_cont {
	margin-left: 20px;
    }
}

@media screen and (max-width: 1450px) {
    #header {
	height: 86px;
	padding-top: 0;
	.in {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	#logo {
	    margin-right: 25px;
	}
	
	a.button {
	    margin-right: 80px;
	    margin-left: 30px;
	}
	
	nav {
            right: 20px;
	    top: 20px;
	    width: 45px;
	    height: 43px;
	    position: absolute;
	    margin: 0;
	    
	    border: 1px solid #fff;
	    border-radius: 6px;
		&:hover {
		    background: $color_a;
		    border-color: $color_a;
		}
	}
    }
	    
	    .menu_button_mob {
		height: 12px;
		border-bottom: 2px solid #fff;
		border-top: 2px solid #fff;
		//border-radius: 3px;
		display: block;
		width: 28px;
		position: absolute;
		top: 13px;
		left: 8px;
		cursor: pointer;
		
		
		&:after {
		    content: '';
		    position: absolute;
		    z-index: 2;
		    height: 2px;
		    width: 100%;
		    top: 5px;
		    left: 0;
		    background-color: #fff;
		}
		&:before {
		    content: '';
		    position: fixed;
		    right: 20px;
		    top: 25px;
		    width: 40px;
		    height: 40px;
		    z-index: 1;
		    //display: none;
		}
		&.active:before {
		    //display: block;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		}
	    }
	    ul.main_menu {
		position: fixed;
		z-index: 3;
		min-width: 245px;
		right: 0px;
		margin-top: 0px;
		top: 86px;
		padding: 5px 0px;
		background-color: $color_a;
		box-shadow: 0 5px 10px rgba(33, 97, 143, 1.25);
		display: none;
		max-height: 80%;
		overflow: auto;
		
		>li {
		    //margin-right: 0;
		    display: block;
		    //text-align: right;
		    //font-size: 18px;
		    height: auto;
		    padding: 0 20px;
		    margin-bottom: 5px;
		    text-align: left;
		    
		    &:before {
			display: none;
		    }
		}
		    
		a {
		    display: block;
		    padding: 10px 0 10px;
		    
		    &:before {
		        display: block;
		        opacity: 0;
		    }
		    
		    &:hover {
		    border-bottom-color: transparent;
		    }
		}
		.active a, a.active  {
		    &:before {
			opacity: 1;
		    }
		}
		ul {
		    position: relative;
		    top: 0px;
		    opacity: 1;
		    display: none;
		    padding-left: 20px;
		    padding-right: 20px;
		    width: 180px;
		    margin-top: 10px;
		    
		    &:before {
			left: 40px;
			margin-left: 0;
		    }
		    
		}
		> li:hover ul {
		    top: 0px;
		}
	    }
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 999px) {
    
}

@media screen and (max-width: 800px) {
    #header {
       height: 75px;
	#logo {
	    img {
		height: 35px;
	    }
	}
	a.button {
	    margin-right: 60px;
	    margin-left: 20px;
	}
	nav {
            right: 20px;
	    top: 20px;
	    width: 35px;
	    height: 33px;
	}
	ul.main_menu {
	    top: 75px;
	}
    }
    
    .header_cont {
	font-size: 16px;
	margin-top: 7px;
    }
    .menu_button_mob {
	width: 23px;
	top: 9px;
	left: 6px;
	
	&:after {
	    top: 5px;
	}
    }
}

@media screen and (max-width: 600px) {
    #header {
	a.button {
	    display: none;
	}
    }
    .header_cont {
	font-size: 16px;
	margin-top: 7px;
	margin-right: 60px;
    }
}

@media screen and (max-width: 450px) {
    #header {
	height: 65px;
	
	.in {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	#logo {
	    width:40px;
	    overflow:hidden;
	}
	nav {
	    top: 15px;
	}
	ul.main_menu {
	    top: 65px;
	}
    }
}

/* end header styles */