/* start health styles */ 

#health {
    overflow: visible;
    z-index: 1;
    //background: url(images/health.jpg) no-repeat center 6px;
    
    &:before {
	content: "";
	top: -167px;
	width: 100%;
	height: 600px;
	position: absolute;
	right: 0;
	//background: url(images/education_bg.png) no-repeat right center;
	z-index: 0;
    }
    
    .in {
	height: 100%;
	padding: 20px 20px 167px;
	z-index: 2;
	overflow: hidden;
	max-width: 1330px;
    }
    
    .h1 {
	margin-bottom: 40px;
	text-align:  center;
    }
    
    .images {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	
	div {
	    position: absolute;
	    width: 300px;
	    height: 400px;
	    background: no-repeat top left;
	}
	
	.left_plant {
	    top: 305px;
	    left: 0;
	}
	.right_plant {
	    top: 455px;
	    right: 0;
	    background-position: top right;
	}
	.plate {
	    top: 140px;
	    left: 50%;
	    margin-left: 390px;
	}
	.spoon {
	    top: 109px;
	    right: 0;
	    background-position: top right;
	}
	.stone {
	    top: 285px;
	    left: 50%;
	    margin-left: 188px;
	}
	.flower {
	    top: 249px;
	    left: 50%;
	    margin-left: -231px;
	}
	.shell1 {
	    top: 437px;
	    left: 50%;
	    margin-left: -492px;
	}
	.shell2 {
	    top: 665px;
	    left: 50%;
	    margin-left: -113px;
	}
	.shell3 {
	    top: 668px;
	    left: 50%;
	    margin-left: 275px;
	}
    }
    
}
    
.health_blocks {
    overflow: hidden;
    margin: 0 -8.45%;
    padding-bottom: 30px;
    
    .health_block {
	float: left;
	width: 25%;
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	border-right: 0;
	margin: -1px 0 0 -1px;
	height: 254px;
	box-sizing: border-box;
	padding: 10px 30px 20px 0;
	
	&:before {
	    content: '';
	    float: left;
	    height: 100%;
	    width: 31.7%;
	}
	
	h4 {
	    font-size: 20px;
	    margin-bottom: 35px;
	}
	p {
	    font-size: 20px;
	    font-weight: 300;
	    margin-top: -31px;
	    margin-bottom: 35px;
	}
	
	.button {
	    margin-right: -3px;
	    background: none;
	    
	    &:after {
		background: none;
	    }
	    &:hover {
		color: #fff;
	    }
	}
	
	&:nth-child(n+4) {
	    padding-top: 125px;
	}
	
	&:nth-child(1) {
	    h4, p {
		color: #2e9dfe;
	    }
	    .button {
		color: #2e9dfe;
		border: 1px solid #2e9dfe;
		
		&:after {
		    background: #2e9dfe;
		    box-shadow: -5px 5px 18px rgba(46, 157, 254, 0.4);
		}
	    &:hover {
		color: #fff;
	    }
	    }
	}
	&:nth-child(2) {
	    h4, p {
		color: #aa69fb;
	    }
	    .button {
		color: #aa69fb;
		border: 1px solid #aa69fb;
		
		&:after {
		    background: #aa69fb;
		    box-shadow: -5px 5px 18px rgba(170, 105, 251, 0.4);
		}
	    &:hover {
		color: #fff;
	    }
	    }
	}
	&:nth-child(3) {
	    h4, p {
		color: #fe295e;
	    }
	    .button {
		color: #fe295e;
		border: 1px solid #fe295e;
		
		&:after {
		    background: #fe295e;
		    box-shadow: -5px 5px 18px rgba(254, 41, 94, 0.4);
		}
	    &:hover {
		color: #fff;
	    }
	    }
	}
	/*
	&:nth-child(4) {
	    h4, p {
		color: #2e9dfe;
	    }
	    .button {
		color: #fe295e;
		border: 1px solid #fe295e;
		
		&:after {
		    background: #fe295e;
		    box-shadow: -5px 5px 18px rgba(254, 41, 94, 0.4);
		}
	    &:hover {
		color: #fff;
	    }
	    }
	}*/
	&:nth-child(5) {
	    h4, p {
		color: #52eee8;
	    }
	    .button {
		color: #52eee8;
		border: 1px solid #52eee8;
		
		&:after {
		    background: #52eee8;
		    box-shadow: -5px 5px 18px rgba(82, 238, 232, 0.4);
		}
	    &:hover {
		color: #fff;
	    }
	    }
	}
	&:nth-child(6) {
	    h4, p {
		color: #7be76e;
	    }
	    .button {
		color: #7be76e;
		border: 1px solid #7be76e;
		
		&:after {
		    background: #7be76e;
		    box-shadow: -5px 5px 18px rgba(123, 231, 110, 0.4);
		}
	    &:hover {
		color: #fff;
	    }
	    }
	}
	&:nth-child(7) {
	    h4, p {
		color: #ffaf22;
	    }
	    .button {
		color: #ffaf22;
		border: 1px solid #ffaf22;
		
		&:after {
		    background: #ffaf22;
		    box-shadow: -5px 5px 18px rgba(255, 175, 34, 0.4);
		}
	    &:hover {
		color: #fff;
	    }
	    }
	}
	&:nth-child(8) {
	    h4, p {
		color: #f2e400;
	    }
	    .button {
		color: #f2e400;
		border: 1px solid #f2e400;
		
		&:after {
		    background: #f2e400;
		    box-shadow: -5px 5px 18px rgba(242, 228, 0, 0.4);
		}
	    &:hover {
		color: #fff;
	    }
	    }
	}
    }
    
    &:after {
	@include clear();
    }
}



@media screen and (max-width: 1800px) {
    #health {
    
    
    .images {
	
	.left_plant {
	    top: 305px;
	    left: 50%;
	    margin-left: -900px;
	}
	.right_plant {
	    top: 455px;
	    left: 50%;
	    margin-left: 594px;
	    background-position: top right;
	}
	.plate {
	    top: 140px;
	    left: 50%;
	    margin-left: 390px;
	}
	.spoon {
	    top: 109px;
	    right: 0;
	    left: 50%;
	    margin-left: 635px;
	    background-position: top right;
	}
	.stone {
	    top: 285px;
	    left: 50%;
	    margin-left: 188px;
	}
	.flower {
	    top: 249px;
	    left: 50%;
	    margin-left: -231px;
	}
	.shell1 {
	    top: 437px;
	    left: 50%;
	    margin-left: -492px;
	}
	.shell2 {
	    top: 665px;
	    left: 50%;
	    margin-left: -113px;
	}
	.shell3 {
	    top: 668px;
	    left: 50%;
	    margin-left: 275px;
	}
    }
    
}
}

@media screen and (max-width: 1300px) {
    .health_blocks {
	overflow: hidden;
	margin: 0 0%;
	padding-bottom: 30px;
    
	.health_block {
	    width: 25%;
	    height: 254px;
	    padding: 10px 30px 20px 0;
	    
	    
	    &:before {
		width: 10%;
	    }
	    
	    &:nth-child(n+4) {
		padding-top: 85px;
	    }
	}
    }
    
    #health {
    .in {
	padding: 20px 20px 87px;
    }
    
    .images {
	
	.plate {
	    top: 140px;
	    left: 50%;
	    margin-left: 290px;
	}
	.stone {
	    top: 285px;
	    left: 50%;
	    margin-left: 58px;
	}
	.flower {
	    top: 249px;
	    left: 50%;
	    margin-left: -231px;
	}
	.shell1 {
	    top: 437px;
	    left: 50%;
	    margin-left: -492px;
	}
	.shell2 {
	    top: 665px;
	    left: 50%;
	    margin-left: -113px;
	}
	.shell3 {
	    top: 668px;
	    left: 50%;
	    margin-left: 275px;
	}
    }
    
}
}
@media screen and (max-width: 1000px) {
    .health_blocks {
	overflow: hidden;
	margin: 0 0%;
	padding-bottom: 30px;
    
	.health_block {
	    width: 25%;
	    height: 254px;
	    padding: 10px 30px 20px 0;
	    
	    
	    &:before {
		width: 10%;
	    }
	    
	    &:nth-child(n+4) {
		padding-top: 35px;
	    }
	    
	    h4 {
		font-size: 18px;
		margin-bottom: 25px;
		margin-right: -30px;
	    }
	    p {
		font-size: 18px;
		margin-bottom: 35px;
		margin-top: -20px;
		margin-right: -30px;
	    }
	}
    }
    #health {
    .in {
	padding: 20px 20px 50px;
    }
	.images {
	
	.plate {
	    top: 140px;
	    left: 50%;
	    margin-left: 240px;
	}
	.stone {
	    top: 285px;
	    left: 50%;
	    margin-left: 58px;
	}
	.flower {
	    top: 249px;
	    left: 50%;
	    margin-left: -231px;
	}
	.shell1 {
	    top: 337px;
	    left: 50%;
	    margin-left: -492px;
	}
	.shell2 {
	    top: 595px;
	    left: 50%;
	    margin-left: -113px;
	}
	.shell3 {
	    top: 598px;
	    left: 50%;
	    margin-left: 275px;
	}
    }
    }
}

@media screen and (max-width: 800px) {
    .health_blocks {
    
	.health_block {
	    width: 50%;
	    height: 204px;
	    &:nth-child(n+4) {
		padding-top: 10px;
	    }
	    
	    h4 {
		font-size: 16px;
		margin-bottom: 25px;
		margin-right: -30px;
	    }
	    p {
		font-size: 16px;
		margin-bottom: 15px;
		margin-top: -20px;
		margin-right: -30px;
	    }
	}
    }
    #health {
    .in {
	padding: 20px 20px 20px;
    }
	.images {
	    div {
		display: none;
	    }
	    .plate {
		top: 300px;
		left: 50%;
		margin-left: 0px;
		display: block;
		transform: scale(0.7);
	    }
	}
    }
}
@media screen and (max-width: 600px) {
    .health_blocks {
    
	.health_block {
	    width: 50%;
	    height: 150px;
	}
    }
    #health {
	.images {
	    div {
		display: none;
	    }
	    .plate {
		top: 200px;
		left: 40%;
		margin-left: 0px;
		display: block;
		transform: scale(0.5);
	    }
	}
    }
}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {
    .health_blocks {
    
	.health_block {
	    height: 124px;
	    padding-left: 10px;
	    
	    &:before {
		display: none;
	    }
	    
	    h4 {
		font-size: 14px;
		margin-bottom: 25px;
		margin-right: -30px;
	    }
	    p {
		font-size: 14px;
		margin-bottom: 15px;
		margin-top: -20px;
		margin-right: -30px;
	    }
	}
    }
    #health {
	.images {
	    .plate {
		top: 150px;
		left: 30%;
		transform: scale(0.3);
	    }
	}
    }
}

/* end health styles */