/* start health styles */ 

#health {
    overflow: visible;
    z-index: 1;
    //background: url(images/specialists_bg.jpg) no-repeat center top;
    
    &:before {
	content: "";
	top: -167px;
	width: 100%;
	height: 600px;
	position: absolute;
	right: 0;
	//background: url(images/education_bg.png) no-repeat right center;
	z-index: 0;
    }
    
    .in {
	height: 100%;
	padding: 20px 20px 196px;
	z-index: 2;
	overflow: hidden;
	max-width: 1330px;
    }
    
    .h1 {
	margin-bottom: 40px;
	text-align:  center;
    }
    
    .images {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	
	div {
	    position: absolute;
	    width: 300px;
	    height: 400px;
	    background: no-repeat top left;
	}
	
	.left_plant {
	    top: 305px;
	    left: 0;
	}
	.right_plant {
	    top: 455px;
	    right: 0;
	    background-position: top right;
	}
	.plate {
	    top: 140px;
	    left: 50%;
	    margin-left: 390px;
	}
	.spoon {
	    top: 109px;
	    right: 0;
	    background-position: top right;
	}
	.stone {
	    top: 453px;
	    left: 50%;
	    margin-left: -153px;
	}
	.flower {
	    top: 249px;
	    left: 50%;
	    margin-left: -231px;
	}
	.shell1 {
	    top: 437px;
	    left: 50%;
	    margin-left: -492px;
	}
	.shell2 {
	    top: 325px;
	    left: 50%;
	    margin-left: 81px;
	}
	.shell3 {
	    top: 668px;
	    left: 50%;
	    margin-left: 275px;
	}
    }
    
}
    
.health_blocks {
    overflow: hidden;
    margin: 0 -8.45%;
    padding-bottom: 1px;
    
    .health_block {
	float: left;
	width: 25%;
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	border-right: 0;
	margin: -1px 0 0 -1px;
	height: 254px;
	box-sizing: border-box;
	padding: 10px 30px 20px 0;
	
	&:before {
	    content: '';
	    float: left;
	    height: 100%;
	    width: 31.7%;
	}
	
	h4 {
	    font-size: 20px;
	    margin-bottom: 35px;
	}
	p {
	    font-size: 20px;
	    font-weight: 300;
	    margin-top: -31px;
	    margin-bottom: 35px;
	}
	
	.button {
	    margin-right: -3px;
	}
	
	&:nth-child(n+4) {
	    padding-top: 125px;
	}
	
	&:nth-child(1) {
	    .button {
		background-color: #2e9dfe;
	    }
	}
	&:nth-child(2) {
	    .button {
		background-color: #aa69fb;
	    }
	}
	&:nth-child(3) {
	    .button {
		background-color: #fe295e;
	    }
	}
	&:nth-child(1) {
	    .button {
		background-color: #2e9dfe;
	    }
	}
	&:nth-child(5) {
	    .button {
		background-color: #52eee8;
	    }
	}
	&:nth-child(6) {
	    .button {
		background-color: #7be76e;
	    }
	}
	&:nth-child(7) {
	    .button {
		background-color: #ffaf22;
	    }
	}
	&:nth-child(8) {
	    .button {
		background-color: #f2e400;
	    }
	}
    }
    
    &:after {
	@include clear();
    }
}



@media screen and (max-width: 1450px) {
    #health {
	
    }
}

@media screen and (max-width: 1300px) {
    #health {
	
    }
}
@media screen and (max-width: 1030px) {
    #health {
	
    }
}

@media screen and (max-width: 800px) {
    #health {
	
    }
}
@media screen and (max-width: 600px) {
    #health {
	
    }
}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {
    #health {
	
    }
}

/* end health styles */