/* start main slide styles */ 

#main_slide {
    overflow: hidden;
    z-index: 0;
    background: #ebfbfe url(images/main_slide_bg.jpg) no-repeat center / cover;
    //opacity: 0;
    
    height: 100%;
    //position: fixed;
    width: 100%;
    min-height: 630px;
    
    .in {
	height: 100%;
	padding: 262px 20px 84px;
    }
    .text {
	//color: #fff;
	max-width: 640px;
	position: relative;
	z-index: 2;
	//top: 271/954*100%;
	//height: 100% - 271/954*100%;
	@include transition_slow(all);
    }
    .h1 {
	text-align: left;
	font-size: 79px;
	line-height: 90%;
	//text-transform: uppercase;
	letter-spacing: -0.5px;
	//color: #fff;
	margin-bottom: 30px;
	font-weight: 600;
	@include transition_slow(all);
    }
    p {
	font-size: 16px;
	line-height: 175%;
	margin-bottom: 38px;
	//max-width: 530px;
	font-weight: 400;
	letter-spacing: 0px;
    }
    ol{
	//counter-reset: main_li;
	margin-top: 280px;
	//width: 100%;
	
	//position: absolute;
	//bottom: 156/954*100%;
	//left: 0;
	
	@include transition_slow(all);
	
	li{
	    list-style: none;
	    display: inline-block;
	    vertical-align: top;	
	    margin-right: 36px;
	    font-size: 16px;
	    line-height: 175%;
	    font-weight: 400;	
	    position: relative;
	    //margin-left: 14px;
	    width: 240px;
	    padding: 5px 0 0 17px;
	    letter-spacing: 0.5px;
	    
	    &:before{
		position: absolute;
		z-index: -1;
		width: 36px;
		height: 36px;
		top: 0;
		left: 0;
		border-radius: 18px;
		background-color: #fff200;
		content: '';
		
		//counter-increment: main_li;
		//content: counter(main_li);	
		@include transition_slow(all);
	    }
	    
	    &:first-letter {
		font-weight: 700;
		font-size: 24px;
	    }
	    
	    //&:nth-child(-n+9):before { /* 1 - 9 */
		//content: "0" counter(main_li); /* becomes 01 - 09 */
	    //}
	}
    }
    
    .main_image {
	position: absolute;
	width: 620px;
	height: 680px;
	left: 50%;
	top: 240px;
	margin-left: -200px;
	
	.lotus {
	    position: absolute;
	    left: 47px;
	    width: 573px;
	    height: 470px;
	    background: url(images/lotus_grey.png) no-repeat center;
	}
	
	.girl {
	    position: absolute;
	    width: 538px;
	    height: 586px;
	    top: 45px;
	    background: url(images/girl.png) no-repeat center;
	}
    }
    
    .timetable_block {
	float: right;
	width: 330px;
	padding-top: 135px;
	position: relative;
	z-index: 2;
	
	.button {
	    float: right;
	}
	
	.h5 {
	    padding-top: 7px;
	    font-size: 15px;
	    letter-spacing: 0.1px;
	    margin-bottom: 14px;
	}
	.timetable_slider {
	    margin-top: -3px;
	    clear: both;
	    margin-bottom: 3px;
	    
	    span {
		display: block;
	    }
	}
	time {
	    display: block;
	    font-weight: 700;
	    font-size: 13px;
	    margin-bottom: 9px;
	}
	.h4 {
	    margin-bottom: -5px;
	    letter-spacing: 1.2px;
	    
	    a {
		color: $color_text;
		display: inline-block;
		position: relative;
		
		    @include transition(left);
		
		&:after {
		    content: "";
		    display: inline-block;
		    width: 7px;
		    height: 11px;
		    background: url(images/arr.png) no-repeat center;
		    margin-left: 15px;
		    position: relative;
		    left: 0px;
		    @include transition(left);
		}
		
		&:hover {
		    &:after {
			left: 5px;
		    }
		}
		
	    }
	}
	.name{
	    text-decoration: underline;
	    font-size: 12px;
	    margin-bottom: 15px;
	    letter-spacing: 0.5px;
	}
	.adt {
	    font-size: 14px;
	    line-height: 123%;
	    letter-spacing: 1px;
	    margin-bottom: 27px;
	}
	
	.timetable_slider_nav {
	    display: inline-block;
	    position: relative;
	    
	    .slick-arrow {
		position: absolute;
		top: 50%;
		height: 20px;
		margin-top: -8px;
		background: none;
		
		&:before {
		    width: 34px;
		    margin-left: -15px;
		    background-image: url(images/prev_next2.png);
		}
		
		&:after {
		    display: none;
		}
	    }
	    .slick-prev {
		left: 0;
	    }
	    .slick-next {
		right: 0;
	    }
	}
	
	ul.slick-dots {
	    margin: 0 45px;
	}
    }
    
    .scroll_bottom {
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 27px;
	background: url(images/scroll_bottom.png) no-repeat center;
	text-indent: -1000000px;
	overflow: hidden;
    }

}

@media screen and (max-width: 1450px) {
    #main_slide {
	
    }
}

@media screen and (max-width: 1300px) {
    #main_slide {
	
    }
}
@media screen and (max-width: 1030px) {
    #main_slide {
	
    }
}

@media screen and (max-width: 800px) {
    #main_slide {
	
    }
}
@media screen and (max-width: 600px) {
    #main_slide {
	
    }
}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {
    #main_slide {
	
    }
}

/* end main slider styles */