
.content{
	&:efore{
		content: url(images/content_bg.png);
		float: right;
	}
	background: url(images/content_bg.png) no-repeat right top;
}
#partners{	
	.h1{
		display: inline-block;
		}
}
	.partner{
		margin-bottom: 83px;
		padding: 38px 49px 38px;
		border: 1px solid #e1e1e1;
		border-radius: 10px;
		background: #fff url(images/partners_bg.png) no-repeat bottom right;
		.logo{
			margin-bottom: 36px;
		}	
		strong{
			display: block;
			margin-top: 36px;
			margin-bottom: 21px;
		}
		span{
			display: block;
			max-width: 790px;
			
			b{
				float: right;
				font-size: 15px;
				text-align: left;
			}	
			a{
				float: right;
				font-size: 15px;
				color: #1c1e23;
				padding-right: 366px;
			}
		}	
	}