.content {
    padding-bottom: 50px;
    
    .left + h2, .left + h3, .left + h4 {
	clear: right;
    }
    .right + h2, .right + h3, .right + h4 {
	clear: left;
    }
    
    .h1 {
	clear: both;
    }
    .left + h1 {
	margin-bottom: 15px;
    }
    
    h2 {
	font-size: 48px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 130%;
	margin-bottom: 55px;
	font-family: $font_family_h;
    }
    
    blockquote {
	background-color: #eef9fb;
	padding: 33px 60px 10px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	
	p {
	    font-weight: 300;
	}
	
	&:before, &:after {
		content: "";
		position: absolute;
		width: 26px;
		height: 22px;
		background: url(images/quote.png) no-repeat center;
		
	}
	&:before {
		top: 20px;
		left: 25px;
	}
	&:after {
		bottom: 20px;
		right: 25px;
	}
    }
}
.bread_crumbs{
    padding-top: 55px;
    margin-bottom: 30px;	
	a{
		color: #3d3d3d;
		font-size: 16px;
		margin-right: 6px;
		position: relative;
	}	
	.active{
		color: #52c54c;
		font-size: 16px;
	}
	a:after{
		content: '';
		width: 6px;
		height: 6px;
		background-color: #52c54c;
		display: inline-block;
		border-radius: 50%;
		margin-left: 10px;
	}
}

.text{
	font-weight: 300;
    ul{
	margin-bottom: 30px;
	
	li{
	    margin-bottom: 9px;
	    padding-left: 27px;
	    position: relative;
	    
	    &:before{
		content: '';
		width: 6px;
		height: 6px;
		background-color: #52c54c;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 10px;
	    }
	}
    }
    
    ol {
	margin-bottom: 30px;
	counter-reset: ul_li;
	list-style-type: none;
	overflow: hidden;
	
	li {
		position: relative;
		margin-bottom: 9px;
		padding-left: 27px;
		
	    &:before {
		counter-increment: ul_li;
		content: counter(ul_li)".";
		position: absolute;
		left: 0;
		top: 0px;
		color: $color_a;
		font-weight: 700;
		
	    }
	}
    }
    
    .col2 {
	column-count: 2;
	column-gap: 100px;
	
    }
    
    h2, h3, h4 {
    }
}

.spec_photo {
    width: 460/1546*100%;
    padding-top: 10px;
	
    img {
	width: 100%;
    }
}

.left, .right {
	clear: both;
	max-width: 50%;
	
	img {
		max-width: 100%;
	}
}
.left {
	float: left;
	margin: 0 40px 65px 0;
}
	
.right {
	float: right;
	margin: 0 0 65px 40px;
}

.accordion {
	margin-top: 30px;
	margin-bottom: 50px;
	
	.h4 {
		background-color: #eef9fb;
		border-radius: 10px;
		padding: 20px 35px;
		position: relative;
		margin-top: 15px;
		margin-bottom: 0;
		z-index: 2;
	}
	
	.text {
		background-color: #f7fcfd;
		border-radius: 0 0 10px 10px;
		padding: 30px 35px 10px;
		position: relative;
		z-index: 1;
		
		&:before {
			content: "";
			border-top: 10px solid #f7fcfd;
			position: absolute;
			top: -10px;
			left: 0;
			width: 100%;
		}
	}
}
#questions .content {
	background: #fff url(images/questions_bg.jpg) no-repeat center top / 100% auto;
	padding-bottom: 100px;
}
#questions .accordion {
	margin-top: 0px;
	margin-bottom: 35px;
	margin-right: 560/1546*100%;
	
	.h4 {
		background-color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(183, 183, 183, 0.5);
		border-radius: 25px;
		padding: 12px 30px;
		margin-top: 25px;
		font-size: 18px;
		
		&:first-child {
			margin-top: 0;
		}
		
		&.ui-accordion-header-active {
			border-radius: 25px 25px 0 0;
			border-bottom: 0;
			
			&:after {
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg); 
				transform: rotate(180deg);
			}
		}
		
		&:after {
			content: '';
			position: absolute;
			border-top: 6px solid #000;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			top: 20px;
			right: 20px;
		}
	}
	
	.text {
		background-color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(183, 183, 183, 0.5);
		border-top: 0;
		border-radius: 0 0 25px 25px;
		padding: 15px 30px 25px;
		
		&:before {
			display: none;
		}
		
		&.ui-accordion-content-active {
			
		}
	}
}