.content {
	padding-bottom: 50px;
}
.bread_crumbs{
	padding-top: 55px;
	margin-bottom: 10px;	
		a{
			color: #3d3d3d;
			font-size: 16px;
			margin-right: 6px;
			position: relative;
		}	
		.active{
			color: #52c54c;
			font-size: 16px;
		}
		a:after{
			content: '';
			width: 6px;
			height: 6px;
			background-color: #52c54c;
			display: inline-block;
			border-radius: 50%;
			//position: absolute;
			//top: 10px;
			margin-left: 10px;
		}
	}