.content {
    background: url(images/content_bg.png) no-repeat right top;
	
    padding-bottom: 50px;
    
    .left + h2, .left + h3, .left + h4 {
	clear: right;
    }
    .right + h2, .right + h3, .right + h4 {
	clear: left;
    }
    
    .h1 {
	clear: both;
    }
    .left + h1 {
	margin-bottom: 15px;
    }
    
    h2 {
	font-size: 48px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 130%;
	margin-bottom: 55px;
	font-family: $font_family_h;
    }
    
    blockquote {
	background-color: #eef9fb;
	padding: 33px 60px 10px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	
	p {
	    font-weight: 300;
	}
	
	&:before, &:after {
		content: "";
		position: absolute;
		width: 26px;
		height: 22px;
		background: url(images/quote.png) no-repeat center;
		
	}
	&:before {
		top: 20px;
		left: 25px;
	}
	&:after {
		bottom: 20px;
		right: 25px;
	}
    }
}
.bread_crumbs{
    padding-top: 55px;
    margin-bottom: 30px;	
	a{
		color: #3d3d3d;
		margin-right: 6px;
		position: relative;
	}	
	.active{
		color: #52c54c;
	}
	a:after{
		content: '';
		width: 6px;
		height: 6px;
		background-color: #52c54c;
		display: inline-block;
		border-radius: 50%;
		margin-left: 10px;
		margin-bottom: 2px;
	}
}

.text{
	font-weight: 300;
    ul{
	margin-bottom: 30px;
	
	li{
	    margin-bottom: 9px;
	    padding-left: 27px;
	    position: relative;
	    
	    &:before{
		content: '';
		width: 6px;
		height: 6px;
		background-color: #52c54c;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 10px;
	    }
	}
    }
    
    ol {
	margin-bottom: 30px;
	counter-reset: ul_li;
	list-style-type: none;
	//overflow: hidden;
	
	li {
		position: relative;
		margin-bottom: 9px;
		padding-left: 27px;
		
	    &:before {
		counter-increment: ul_li;
		content: counter(ul_li)".";
		position: absolute;
		left: 0;
		top: 0px;
		color: $color_a;
		font-weight: 700;
		
	    }
	}
    }
    
    .left ~  ul, .left ~ ol {
	overflow: hidden;
    }
    
    .col2 {
	column-count: 2;
	column-gap: 100px;
	
    }
    
    time {
	font-size: 14px;
	line-height: 170%;
	display: block;
	margin-bottom: 20px;
	font-weight: 700;
    }
}

.spec_photo {
    //width: 460/1546*100%;
    padding-top: 10px;
    max-width: 460px !important;
    	
    img {
	width: 100%;
    }
}

.left, .right {
	clear: both;
	max-width: 50%;
	border-radius: 10px;
	overflow: hidden;
	
	img {
		max-width: 100%;
	}
}
.left {
	float: left;
	margin: 0 40px 65px 0;
}
	
.right {
	float: right;
	margin: 0 0 65px 40px;
}

.accordion {
	margin-top: 30px;
	margin-bottom: 50px;
	
	.h4 {
		background-color: #eef9fb;
		border-radius: 10px;
		padding: 20px 35px;
		position: relative;
		margin-top: 15px;
		margin-bottom: 0;
		z-index: 2;
		cursor: pointer;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -4px;
			right: 35px;
			width: 17px;
			height: 9px;
			background: url(images/arr_bottom.png) no-repeat center top;
			@include transition(all);
		}
		
		&.ui-accordion-header-active {
			
			&:before {
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg); 
				transform: rotate(180deg);
			}
		}
	}
	
	.text {
		background-color: #f7fcfd;
		border-radius: 0 0 10px 10px;
		padding: 30px 35px 10px;
		position: relative;
		z-index: 1;
		
		&:before {
			content: "";
			border-top: 10px solid #f7fcfd;
			position: absolute;
			top: -10px;
			left: 0;
			width: 100%;
		}
	}
}
#questions .content {
	background: #fff url(images/questions_bg.jpg) no-repeat center top / 100% auto;
	padding-bottom: 100px;
}
#questions.content {
	background: #fff url(images/questions_bg.jpg) no-repeat center -50px / 100% auto;
	padding-bottom: 0px;
	margin-bottom: -50px;
	
	.in {
		padding-top: 123px;
		padding-bottom: 50px;
		min-height: 802px;
	}
	
	h2 {
		float: left;
	}
	
	h2 + .button {
		float: right;
		margin-right: 590/1546*100%;
		margin-top: 20px;
	}
	
}
#questions .accordion {
	margin-top: 0px;
	margin-bottom: 35px;
	margin-right: 590/1546*100%;
	clear: both;
	
	.h4 {
		background-color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(183, 183, 183, 0.5);
		border-radius: 25px;
		padding: 12px 30px;
		margin-top: 25px;
		font-size: 16px;
		font-weight: 600;
		color: #1c1e23;
		
		&:before {
			display: none;
		}
		
		&:first-child {
			margin-top: 0;
		}
		
		&.ui-accordion-header-active {
			border-radius: 25px 25px 0 0;
			border-bottom: 0;
			
			&:after {
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg); 
				transform: rotate(180deg);
			}
		}
		
		&:after {
			content: '';
			position: absolute;
			border-top: 6px solid #000;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			top: 20px;
			right: 20px;
		}
	}
	
	.text {
		background-color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(183, 183, 183, 0.5);
		border-top: 0;
		border-radius: 0 0 25px 25px;
		padding: 15px 30px 15px 65px;
		color: #1c1e23;
		font-weight: 300;
		
		&:before {
			width: 0;
			top: 0;
			bottom: 20px;
			height: auto;
			left: 42px;
			border: 0;
			border-left: 1px solid #dbdbdb;
		}
		
		&.ui-accordion-content-active {
			
		}
	}
}



#page404 { 
    .content {
		background: #fff url(images/page404_bg.jpg) no-repeat center top / 100% auto;
	    display: table-row;
	    height: 100%; 
	    .in {
		display: table-cell;
		//text-align: center;
		height: 100%;
		vertical-align: middle;
		padding-top: 0px;
		padding-bottom: 50px;
		color: #000;
	    }
    }
    //background-position: 0 30px;
    
    .text {
	max-width: $max-width;
	margin: 0 auto;
	text-align: center;
    
	.button {
	    a {
		color: #1f2b5e;
		text-decoration: none;
		
		&:hover {
			color: #fff;
		}
	    }
	}
    }
    
    .img404 {
	font-size: 500px;
	line-height: 80%;
	font-weight: 900;
	color: #5577ad;
	margin-bottom: 20px;
    }
    
    p {
	font-size: 30px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 1px;
	margin-bottom: 25px;
    }
    
}

@media screen and (max-width: 1600px) {
    .bread_crumbs{
	padding-top: 50px;
	margin-bottom: 30px;
    }
}
@media screen and (max-width: 1300px) {
    .bread_crumbs{
	padding-top: 40px;
	margin-bottom: 30px;
    }
    
    #questions.content {
	background-position: center 0px;
	background-size: 120% auto;
	padding-bottom: 0px;
	margin-bottom: -50px;
	.in {
	    padding-top: 70px;
	    padding-bottom: 50px;
	    min-height: 702px;
	}
    }
}
@media screen and (max-width: 1150px) {
    
    #questions.content {
	.in {
	    padding-top: 0px;
	    padding-bottom: 50px;
	    min-height: 602px;
	}
	h2 {
		float: none;
		margin-bottom: 20px;
	}
	h2 + .button {
		float: none;
		margin-right: 0;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	
    }
}
@media screen and (max-width: 1024px) {
    .bread_crumbs{
	padding-top: 30px;
	margin-bottom: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .content {
	background: none;
    }
    #questions .content {
	background-size: 150% auto;
    }
    #questions.content {
	background-size: 150% auto;
	.in {
	    padding-top: 0px;
	    padding-bottom: 50px;
	    min-height: 702px;
	}
    }
    
    #questions .accordion {
	margin-right: 25%;
    }
    
    .content blockquote {
	clear: both;
    }

}
@media screen and (max-width: 800px) {
    .bread_crumbs{
	padding-top: 20px;
	margin-bottom: 30px;
    }
    
    .content {
	
	h2 {
	    font-size: 38px;
	    letter-spacing: 2px;
	    line-height: 130%;
	    margin-bottom: 35px;
	}
    }
    .left, .right {
	max-width: 100%;
    }
    .left {
	float: none;
	margin: 0 0px 30px 0;
    }
	
    .right {
	float: none;
	margin: 0 0 30px 0px;
    }
    
    #questions .content {
	//background-size: 200% auto;
	background-position: left top;
    }
    #questions.content {
	//background-size: 200% auto;
	background-position: left top;
	.in {
	    min-height: inherit;
	}
    }
    
    #questions .accordion {
	margin-right: 0%;
	
	
    }
    
    .content blockquote {
	padding: 33px 60px 10px;
	clear: both;
	margin-left: 0;
	margin-right: 0;
    }

}

@media screen and (max-width: 600px) {
	
    .content {
	
	h2 {
	    font-size: 33px;
	    letter-spacing: 1px;
	    line-height: 130%;
	    margin-bottom: 25px;
	}
    }
}
@media screen and (max-width: 450px) {
	.content blockquote {
	padding: 40px 30px 20px;
    }
}