/* start recommendations styles */ 

#recommendations {
    overflow: visible;
    z-index: 1;
    background: url(images/recom_plant.png) no-repeat right top;
    
    
    
    .in {
	height: 100%;
	padding: 45px 20px 201px;
	z-index: 2;
	//text-align:  center;
    }
    
    .h1 {
	margin-bottom: 23px;
	float: left;
	margin-right: 80px;
    }
    
}
    
.recommendations {
    .slider_arrows {
	margin-top: 15px;
	
	span {
	    margin-right: 15px;
	}
    }
}
.recomm_preview {
    float: left;
    width: calc(35% + 25px);
    margin-left: -25px;
    clear: left;
	
    .recomm_preview_item {
	width: 350px;
	//text-align: center;
	margin: 0 25px;
	cursor: pointer;
	
	.photo {
	    width: 130px;
	    height: 130px;
	    border-radius: 77px;
	    overflow: hidden;
	    margin: 0 auto 30px;
	    @include transition(all);
	}
	
	img {
	    //display: inline-block;
	    width: 100%;
	    //height: 100%;
	    object-fit: cover;
	    vertical-align: top;
	}
	    
    }
	
}
    
.recomm_more {
    margin-left: 41%;
    //margin-right: 4%;
    
    .recomm_more_item {
	//background: #fff;
	border-radius: 10px;
	box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.08);
	margin: 0 60px;
    }
    
    .photo {
	float: right;
	margin-right: -30px;
	width: 148px;
	height: 209px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: #fff;
	text-align: center;
	
	img {
	    display: inline-block;
	    max-width: 90%;
	}
    }
    
    .text {
	padding: 60px 190px 60px 90px;
	font-size: 15px;
	line-height: 201%;
    }
}



@media screen and (max-width: 1450px) {
    #recommendations {
	
    }
}

@media screen and (max-width: 1300px) {
    #recommendations {
	
    }
}
@media screen and (max-width: 1030px) {
    #recommendations {
	
    }
}

@media screen and (max-width: 800px) {
    #recommendations {
	
    }
}
@media screen and (max-width: 600px) {
    #recommendations {
	
    }
}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {
    #recommendations {
	
    }
}

/* end recommendations styles */