/* start specialists styles */ 

#specialists {
    overflow: visible;
    z-index: 0;
    background: url(images/specialists_bg.jpg) no-repeat center top / cover;
    
    //opacity: 0.5;
    
    
    .in {
	height: 100%;
	padding: 129px 20px 128px;
	z-index: 2;
    }
    
    .h1 {
	//float: left;
	//margin-right: 105px;
	margin-bottom: 50px;
    }
    
    .h1 + .button {
	margin-top: 19px;
    } 
}
    
.specialists {
    clear: both;
    //overflow: hidden;
}

.specialists_preview {
    margin: -45px -45px 50px;
    .specialists_preview_item {
	width: 350px;
	text-align: center;
	margin: 45px 45px 0;
	cursor: pointer;
	
	.photo {
	    width: 150px;
	    height: 150px;
	    border-radius: 77px;
	    overflow: hidden;
	    margin: 0 auto 28px;
	    @include transition(all);
	}
	
	img {
	    //display: inline-block;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    vertical-align: top;
	}
	p {
	    font-size: 16px;
	    letter-spacing: 0.8px;
	    line-height: 135%;
	}
	
	&:hover, &.slick-current {
	    .photo {
		box-shadow: 10px 10px 48px rgba(145, 186, 197, 1);
	    }
	    
	    p {
		text-decoration: underline;
	    }
	}
    }
}

.specialists_more {
    //background-color: #fff;
    border-radius: 10px;
    
    &:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 60px;
	background-color: #fff;
	border-radius: 10px;
    }
    
    .photo {
	float: right;
	margin: 60px 62px 0px 45px;
	width: 540/1546*100%;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	
	&:after {
	    position: relative;
	    display: block;
	    padding-top: 83%;
	    content: "";
	}
	
	img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    vertical-align: top;
	    position: absolute;
	    top: 0;
	}
    }
    
    .text {
	margin-right: 540/1546*100%;
	padding: 58px 0 50px 65px;
	font-size: 16px;
	line-height: 185%;
	letter-spacing: 0.8px;
	height: 340px;
	//line-height: 300;
	
	.h2 {
	    margin-bottom: 25px;
	    letter-spacing: 1px;
	}
    }
    
    .slick-arrow {
	position: absolute;
	bottom:120px;
	left: 65px;
    }
    
    .slick-prev {
	left: 65px;
    }
    .slick-next {
	left: 115px;
	
	&:before {
	    background-position: right center;
	    margin-left: -5px;
	}
    }
}
.specialists {
    
}

.content .specialists {
    margin: 0 -40px;
    h2 {
	float: left;
	margin-right: 80px;
	margin-left: 40px;
    }
    
    .specialists_slider {
	clear: both;
    }
    
    .slider_arrows {
	padding-top: 20px;
	
	span {
	    margin-right: 15px;
	}
    }
}
.specialists_block{
    display: inline-block;
    width: calc(33% - 80px);
    margin: 0 40px 78px;
    vertical-align: text-top;
    
    .photo{
	border-radius: 10px;
	margin-bottom: 45px;
	width: 100%;
	height: 350px;
	overflow: hidden;
	
	img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
    }
    h4 a {
	color: $color_text;
	&:hover {
	    color: $color_a;
	}
    }
    p{
	//margin-top: 26px;
	margin-bottom: 34px;
	font-weight: 300;
    }	
    .info{
	//width: 460px;
    }
}
.pagination{ margin-bottom: 40px;
    li{
	display: inline-block;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	text-align: center;
	vertical-align: top;
	line-height: 37px;
	
	a {
	    color: $color_text;
	    
	    &:hover {
		color: $color_a;
	    }
	}
	
	.active{
	    height: 36px;
	    width: 36px;
	    border-radius: 50%;
	    text-align: center;
	    vertical-align: top;
	    line-height: 37px;
	    display: inline-block;
	    background-color: #7be76e;
	    color: #fff;
	}
    }
    .pag-ar{
	//line-height: 21px;
	position: relative;
	
	a {
	    display: inline-block;
	    width: 13px;
	    height: 13px;
	}
	
	a:before {
	    content: "";
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -5px;
	    margin-left: -5px;
	    width: 12px;
	    height: 9px;
	    vertical-align: -1px;
	    background: url(images/pagination_arr.png) left center no-repeat;
	    z-index: 2;
	}
	
	&.next a:before {
	    background-position: right center;
	}
    }
}
 
@media screen and (max-width: 1450px) {
    #specialists {
	
    }
}

@media screen and (max-width: 1300px) {
    #specialists {
	
    }
}
@media screen and (max-width: 1030px) {
    #specialists {
	
    }
}

@media screen and (max-width: 800px) {
    #specialists {
	
    }
}
@media screen and (max-width: 600px) {
    #specialists {
	
    }
}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {
    #specialists {
	
    }
}

/* end specialists styles */