#store{
    background: url(images/store_bg.jpg) no-repeat top center;
    padding-top: 12px;
    padding-bottom: 114px;

	
	.h1{
		float: left;
		margin-right: 40px;
	}
	
	.button {
		margin-top: 18px;
	}
}
	
.store {
	clear: both;
	margin-right: -25px;
	padding-top: 8px;
}
.store_blocks{	
	display: inline-block;
	//height: 290px;
	width: calc(25% - 25px);
	margin-right: 19px;
	vertical-align: top;
	margin-bottom: 50px;
	
	p{
		display: block;
		text-align: center;
		font-weight: 700;	
		margin: 15px 10px 0;
	}
	a {
		color: $color_text;
		display: block;
	}
	a:hover{
		color: #27cb13;
		
		.img{
			box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
		}
			
	}
		
	.img{
		height: 245px;
		width: 100%;
		display: block;
		background: no-repeat center / cover;
		border: 1px solid #d7d7d7;
		background-color: white;
		border-radius: 11px;
	}
		
}