@charset "windows-1251";

@import 'reset';
@import 'base';

@import 'header';
@import 'footer';
@import 'main_slider';
@import 'activities';
@import 'specialists';
@import 'education';
@import 'health';
@import 'about';
@import 'recommendations';
@import 'store';
@import 'blog';
@import 'psix';
@import 'store_page';
//@import 'catalog';
//@import 'series';
//@import 'service';
//@import 'use';
//@import 'content';
//@import 'history';
//@import 'product_item';
//@import 'adv_slider';
//@import 'production';
//@import 'selection';
//@import 'stocks';
//@import 'goals';
//@import 'services';
//@import 'advantages';
//@import 'content';
//@import 'blog';
//@import 'contacts';
//@import 'forms';
//@import 'about';
//@import 'popup';
//@import 'animate';


//@import 'sertificates';





